
/* Handles the entire content display */
.wrap {
    display: flex;
    flex-direction: column;
}

.nav {
    background-color: #160c59;
    width: 100%;
}

.nav-content {
    display: flex;
    flex-direction: row;
}


@media screen and (min-width: 580px) {

    .wrap {
        display: flex;
        flex-direction: row;
    }

    .nav {
        width: 15%;
        height: 100vh;
        background-color: #160c59;
        color: white;
        position: fixed;
        display: flex;
        flex-direction: column;
    }

    .navbar {
        background-color: #160c59 !important;
    }

    .nav-content {
        margin-top: 10%;
        text-decoration: none;
        display: flex;
        flex-direction: column;
    }
}





/* works on both navs */

li {
    list-style: none;
}

li a {
    color: white;
}

.logo {
    color: white !important;
    font-weight: bold;
    font-size: 2.5em;
}

.main-nav {
    font-weight: bold;
    font-size: 1em;
}

nav {
    background-color: #160c59 !important;
}

.main-nav,
.dot {
    color: #f89608;
}


.main {
    width: 100%;
    background-color: #160c59;
}

@media screen and (min-width: 580px) {
    .main {
        width: 100%;
        margin-left: 15%;
        background-color: #160c59;
    }
}

/* land section */
.land {
    margin-bottom: 50px;
}


.land-section {
    display: flex;
    flex-direction: column;
    margin-left: 25%;
}

@media screen and (min-width: 880px) {
    .land-section {
        display: flex;
        flex-direction: row;
        margin-top: 10%;
        margin-left: 0;
    }
}

.land-describe {
    width: 70%;
    color: white;
}

picture {
    width: 100%;
}

@media screen and (min-width: 580px){
    picture {
        width: 80%;
        margin-left: -20%;
    }
    
}


h2 {
    font-weight: bolder;
    font-size: 2.5em;
}



img {
    opacity: 0.5;
}




/* transaction section */

.transact {
    color: white;
    width: 80%;
}

.transact-diseal,
.transact-electricity,
.transact-solar {
    display: flex;
    flex-direction: row;
}

.transact-head {
    width: 30%;
    font-weight: bold;
}

.transact-content {
    width: 50%;
    margin-bottom: 5%;
    line-height: 50px;
}

.sol {
    color: #f89608;
}

.delect {
    color: #845ef2;
}



/* gallery section */

/* Guide  */
.guide {
    min-height: 100vh;
    background-color: #d3671c;
}

.guide-card {
    width: 70%;
    margin-left: 15%;
    padding-top: 25%;
}

.icons {
    margin-top: 10%;
}


/* Prices */

.prices{
  background-color: #160c59;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.pricing-table{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: min(1600px, 100%);
    margin: auto;
  }
  
  .pricing-card{
    flex: 1;
    max-width: 50%;
    background-color: #d3671c;
    margin: 20px 10px;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
    color: #2d2d2d;
    transition: .3s linear;
  }
  
  .pricing-card-header{
    background-color: #0fbcf9;
    display: inline-block;
    color: #fff;
    padding: 12px 30px;
    border-radius: 0 0 20px 20px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    transition: .4s linear;
  }
  
  .pricing-card:hover .pricing-card-header{
    box-shadow: 0 0 0 10em #845ef2;
  }
  
  .price{
    font-size: 70px;
    color: white;
    margin: 40px 0;
    transition: .2s linear;
  }
  
  .price sup, .price span{
    font-size: 22px;
    font-weight: 700;
  }
  
  .pricing-card:hover ,.pricing-card:hover .price{
    color: #fff;
  }
  
  .pricing-card li{
    font-size: 16px;
    padding: 10px 0;
    text-transform: uppercase;
  }
  
  .btn{
    display: inline-block;
    margin-bottom: 40px;
  }

  .order-btn:hover{
    background-color: #160c59;
    color: #fff;
  }
  
  @media screen and (max-width: 1100px){
    .pricing-card{
      flex: 50%;
    }
  }